
html {
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 10px;
}

.fastest {
  background-color: #cddccd;
  color: #222;
}

.slowest {
  background-color: #e0b8b8;
  color: #222;
}

.unsupported {
  background-color: #9c948a;
}

td {
    border: solid 1px white;
    text-align: right;
    min-width: 100px;
}

td:last-child {
  padding-right: 10px;
}

.average-row td {
  width: 70px;
  padding: 10px;
  background-color: #382373;
  color: white;
  border-bottom: solid 8px white
}

td.data {
  padding: 1.2rem 1.5rem 0.5rem 1.5rem;
}

td div.timing {
  font-size: 15px;
}

td div.timing-variation {
  color: red; 
  font-size: 10px;
  height: 15px;
}

td div.count {
  color: #717171; 
  font-size: 12px;
  height: 15px;
}

.note:hover .tooltip {
  visibility: visible;
}

.note {
    position: relative;
    display: inline-block;
}

.tooltip-query {
  left: 0;
  width: 40rem;
  margin-left: -3rem;
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  visibility: hidden;
  background-color: black;
  color: white;
  box-shadow: 0 0 1rem gray;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  z-index: 1;
  text-align: left;
  white-space: normal;
}


/* For uPlot!! */
.uplot {
    display: inline-block;
    vertical-align: top;
    width: min-content;
    padding-bottom: 25px;
}

.u-over {
    box-shadow: 0px 0px 0px 0.5px #ccc;
}

.u-legend {
    text-align: left;
    padding-left: 50px;
}

.u-inline tr {
    margin-right: 8px;
}

.u-label {
    font-size: 12px;
}
.u-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    word-break: break-all;
}
.u-legend {
    text-align: center;
}
.u-tooltip {
    font-size: 10pt;
    position: absolute;
    background: #fff;
    display: none;
    border: 2px solid black;
    padding: 4px;
    pointer-events: none;
    z-index: 100;
    white-space: pre;
    font-family: monospace;
}

/*
body {
    padding: 1em;
    margin: 0;
}
*/
